page-home {
    canvas {
        display: block;
        margin: 0 auto !important;
    }

    .stopper {
        margin-bottom: -25px;

        strong {
            font-size: 2.8rem;
        }
    }
}
